{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <title>Pembuatan Pertandingan</title>
    <link rel="stylesheet" href="{% static 'css/peminjaman_stadium.css' %}">
    {% include 'navbar/navbar-panitia.html' %}
{% endblock meta %}

{% block content %}
<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-9 col-xl-9">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5 text-center">

                <div class="mb-md-5 mt-md-4">
                    <table class="table table-hover">
                            <thead>
                              <tr>
                                <th colspan="4">LIST PERTANDINGAN</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><b>Grup A</b></td>
                                <td><b>Action</b></td>
                                <td><b>Grup B</b></td>
                                <td><b>Action</b></td>
                              </tr>
                              <tr>
                                <td>UI FC VS UGM FC</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">update</button>
                                    <button type="button" class="btn btn-danger btn-sm">delete</button>
                                </td>
                                <td>UNAIR FC VS UNDIP FC</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">update</button>
                                    <button type="button" class="btn btn-danger btn-sm">delete</button>
                                </td>
                              </tr>
                              <tr>
                                <td>ITB FC VS BINUS FC</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">update</button>
                                    <button type="button" class="btn btn-danger btn-sm">delete</button>
                                </td>
                                <td>UNPAD FC VS ITS FC</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">update</button>
                                    <button type="button" class="btn btn-danger btn-sm">delete</button>
                                </td>
                              </tr>
                              <tr>
                                <td>? VS ?</td>
                                <td><button type="button" class="btn btn-primary btn-sm">add</button></td>
                                <td>UB FC VS UPH FC</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">update</button>
                                    <button type="button" class="btn btn-danger btn-sm">delete</button>
                                </td>
                              </tr>
                              <tr>
                                <td>? VS ?</td>
                                <td><button type="button" class="btn btn-primary btn-sm">add</button></td>
                                <td>? VS ?</td>
                                <td><button type="button" class="btn btn-primary btn-sm">add</button></td>
                              </tr>
                              <tr>
                                <td><b>Grup C</b></td>
                                <td><b>Action</b></td>
                                <td><b>Grup D</b></td>
                                <td><b>Action</b></td>
                              </tr>
                              <tr>
                                <td>? VS ?</td>
                                <td><button type="button" class="btn btn-primary btn-sm">add</button></td>
                                <td>? VS ?</td>
                                <td><button type="button" class="btn btn-primary btn-sm">add</button></td>
                              </tr>
                            </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
  {% include 'footer.html' %}
  {% endblock content %}