{% extends 'base.html' %}

{% block content %}
<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5 text-center">

                <div class="mb-md-5 mt-md-4">

                    <h2 class="fw-bold mb-2 text-uppercase">U-LEAGUE 6</h2>
                    <p class="text-black-50 mb-5">Welcome to our website!</p>

                        <a class="btn btn-outline-secondary" href="{% url 'trigger1:login' %}" type="button" value="Login">Login</a>
                        <a class="btn btn-outline-secondary" href="{% url 'trigger1:register' %}" type="button" value="Register">Register</a>  
    
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}